*
!.config/
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*
!.config/powershell/
!.config/powershell/Microsoft.PowerShell_profile.ps1
!.gitignore
!.inputrc
!.zsh_aliases
!.zshrc
!.tmux_conf
!.local/
!.local/bin/
!.local/bin/*
